$bgcolor: rgba(0, 0, 0, 0.2);
$text-light: white;
$text-light-fade: rgba(255, 255, 255, 0.2);

button {
  display: flex;
  float: left;
}

.card-button {
  text-decoration: none;
}
.card-body {
  background-color: $bgcolor;
}

.title {
  color: $text-light;
  text-decoration: none;
}

.subtext {
  color: $text-light-fade;
}

.favorite-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: yellow;
}

.unfavorite-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

@import "~bootstrap/scss/bootstrap.scss";
