$bgcolor: rgba(0, 0, 0, 0.2);
$text-light: white;
$text-light-fade: rgba(255, 255, 255, 0.2);

button {
  display: flex;
  float: left;
}
.card-body {
  background-color: $bgcolor;
}

.title {
  color: $text-light;
}

.subtext {
  color: $text-light-fade;
}

@import "~bootstrap/scss/bootstrap.scss";
