$text-light: white;
$text-light-fade: rgba(255, 255, 255, 0.4);

.form-control {
  color: $text-light;
}

.form-control:focus {
  color: $text-light;
}

.username {
  padding-top: 5px;
}

.d-flex.align-items-center {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.verified-img {
  width: 22px;
  height: 22px;
}

.button-style {
  width: 130px;
}

.profile-pic {
  width: 175px;
  height: 175px;
  border-radius: 200px;
}

.username-container {
  display: flex;
  align-items: center;
}

.username-container h2 {
  margin-right: 10px;
}

.form-control:not(active) {
  color: $text-light;
}

.subtext {
  color: $text-light-fade;
}

@import "~bootstrap/scss/bootstrap.scss";
