.user-item {
  min-width: 300px;
}

.d-flex.align-items-center {
  display: flex;
  align-items: center;
}

.verified-logo {
  margin-top: -5px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.centered-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
