.user-item {
  min-width: 200px;
}

.d-flex.align-items-center {
  display: flex;
  align-items: center;
}

.no-border {
  border: 0px;
}

.verified-logo {
  margin-left: 5px;
  width: 15px;
  height: 15px;
}
